<div class="product-list">
	<div *ngFor="let product of products" class="content">
		<img src="{{product.image}}" alt="image of product">
		<h3 class="title">
			<a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
				{{product.name}}
			</a>
		</h3>
		<div class="bottom">
			<div class="price">
				<h4 *ngIf="product.rating"> {{product.rating}} </h4>
			</div>
			<button><a [href]="'https://telegram.me/share/url?url=' + product.link " target="_blank">
      Share</a> 
    </button>
		</div>



	</div>
</div>