<div class="product-item">
	<div class="product-info" *ngIf="product">

		<img src="{{product.image}}" alt="image of product">
		<div class="info">
			<h2><a href="{{product.address}}">{{ product.name }}</a></h2>
			<h4 *ngIf="product.rating"> Rating: {{product.rating}} </h4>
			<p><strong>Description:</strong> {{ product.description }}</p>
			<div class="btn">
				<button><a [href]="'https://telegram.me/share/url?url=' + product.link " target="_blank">
      Share</a> 
    </button>
			</div>
		</div>

	</div>
</div>